.grid {
    display: grid;
    grid-template-columns: 30% 10% 30% 30%;
    grid-template-rows: 1;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.image {
    padding-top: 10%;
    padding-bottom: 10%;
    grid-column: 2;
    background: darkcyan;
    background-repeat: no-repeat;
    border: 1px solid black;
}


.info {
    grid-column: 3;
    background: darkcyan;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: "Press Start 2P";
}

#disk-image {
    height: 50px;
    width: 50px;
}