
.pokeComp {
  display: grid;
  grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25%;
  grid-template-rows: [line1] 20% [line2] 20% [line3] 20% [line4] 20% [line5] 20%;
  border: 1px solid black;
}

.pokeHeader {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  /* background-color: purple; */
  border: 3px dashed purple;
}

.pokeInfo {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  /* background-color: blue; */
  border: 3px dashed blue;
}

.pokeStats {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  /* background-color: red; */
  border: 3px dashed red;
}

.pokeItems {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
  /* background-color: orange; */
  border: 3px dashed orange;
}

.pokeImage {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  /* background-color: green; */
  border: 3px dashed green;
}