#info {
    text-align: center;
    font-family: "Press Start 2P";
    color: black;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}

#background {
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}